@import "smart-grid.less";
@import "base.less";

.wrap{
  max-width: @break_md;
  margin: 0 auto;
  height: 100%;
  padding: 0 @m;
  overflow: hidden;
  .row-flex();
}

section.profit{
  background: @color_grey;
  padding: @offset_one_side 0;
}

section.profit .item{
  border: @s solid @color_lgrey;
  background: @color_lgrey;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 400px;
}

section.profit .item .text{
  font-style: italic;
  text-align: left;
  flex-basis: 75%;
  flex-grow: 3;
  margin: 5px auto;
}

.item{
  text-align: center;
  margin: @offset_one_side;
  width: 500px;
}

.img1{
  flex-basis: 25%;
  height: auto;
  flex-grow: 1;
}

@media screen and (max-width: 842px){
  .item{
    width: calc(100%-10px);
  }
  .item:nth-child(even){
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1200px){
  .item{
    width: calc(100%-10px);
  }
  .item:nth-child(even){
    flex-direction: row-reverse;
  }
}
