@import "smart-grid.less";
@import "base.less";

.wrap2{
  max-width: @break_md;
  margin: 0 auto;
  height: 100%;
  padding: 0 @m;
  overflow: hidden;
  .row-flex();
  justify-content: center;
}

section.profit2{
  background: @color_grey;
  padding: @offset_one_side 0;
}

section.profit2 .item2{
  border: @s solid @color_lgrey;
  background: @color_lgrey;
  text-align: center;
}

section.profit2 .item2.text2{
  font-style: italic;
  text-align: left;
}

.item2{
  text-align: center;
  margin: @offset_one_side;
  .col();
  .col-ib();
  .size(6);
  .size(10);
  .size(12);
  .size(24);
}
